/* wrap element*/
.GM__ruby-translator.GM__ruby-translator__hidden rt {
  visibility: hidden !important;
}

.GM__ruby-translator {
  /*each element*/
  .non-ruby-translator, .ruby-translator {
    font-size: 1.3em !important;
  }

  .ruby-translator rt {
    width: 100% !important;
    text-align: center;
  }
  .ruby-translator rt {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // disable selection
  rt::selection {
    display: none !important;
  }
  rt::-moz-selection {
    display: none !important;
  }
}