.non-ruby-translator, .ruby-translator {
    font-size: 1rem !important;
}

.ruby-translator rt {
    width: 100% !important;
    text-align: center;
}

ruby,
ruby > rbc,
ruby > rtc,
ruby rb,
ruby > rb,
ruby > rbc > rb
ruby rt,
ruby > rt,
ruby > rtc > rt {
    display: inline-block !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    height: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    white-space: nowrap !important;
    border-style: none !important;
    overflow: visible !important;
    text-align: center !important;
    vertical-align: baseline !important;
    line-height: 1.4em !important;
    font-size: inherit !important;
    transform: none !important;
    position: static !important;
}

ruby rt,
ruby > rt,
ruby > rtc > rt,
ruby > rtc {
    text-decoration: none !important;
}

ruby,
ruby > rbc,
ruby > rtc,
ruby rb,
ruby > rb,
ruby > rbc > rb {
    margin-left: 0 !important;
}

ruby > rbc,
ruby > rtc,
ruby rb,
ruby > rb,
ruby > rbc > rb {
    width: auto !important;
    text-indent: 0 !important;
}

ruby {
    position: relative !important;
    display: inline-block !important;
    white-space: nowrap !important;
    text-align: center !important;
    line-height: 1.4em !important;
    margin-top: .55em !important;
    text-indent: 0;
    letter-spacing: 0;
}

ruby rp,
ruby > rp {
    display: none !important;
}

ruby rt,
ruby > rt,
ruby > rtc > rt,
ruby > rtc {
    position: absolute !important;
    left: 0 !important;
    margin-left: 0;
    font-size: .55em !important;
    line-height: 0 !important;
    letter-spacing: 0;
    text-indent: 0;
}

ruby > rtc > rt {
    font-size: 0.55em !important;
    transform: none !important;
}
